<app-navegador></app-navegador>
<div class="general">
	<app-mensaje></app-mensaje>
	 <table class="table">
	 	<thead>
	    	<tr>
	    		<th>Nickname</th>
	    		<th>Positivas</th>
	    		<th>Neutrales</th>
	    		<th>Negativas</th>
	    		<th>Desactivar de MultiML</th>
	    	</tr>
    	</thead>
    	 <tbody>
	    	<tr *ngFor="let cuenta of this.user.cuentas">
	    		<td (click)="verUsuario(cuenta.id_ml)" class="mano">
	    			
					<span role="button" class="glyphicon glyphicon-user mano" > {{ cuenta.nickname }}</span>

					
	    		</td>

	    		<td>{{ cuenta.reputation.transactions.ratings.positive }}</td>
	    		<td>{{ cuenta.reputation.transactions.ratings.neutral }}</td>
	    		<td>{{ cuenta.reputation.transactions.ratings.negative }}</td>
	    		
	    		<td>
	    			<button class="btn btn-danger" (click)="removerCuenta(cuenta)">
	    				<span class="glyphicon glyphicon-trash"></span>
	    				Remover
	    			</button>
	    		</td>
	    	</tr>
  	</table>

  	<button class="col-md-12 btn btn-primary" (click)="agregarCuenta()">
  		Registrar nueva cuenta de MercadoLibre
  	</button>
  	<iframe style="width:0;height:0;border:0; border:none;" src="http://www.mercadolibre.com/jms/mla/lgz/logout">
  	</iframe>
</div>
