.mano {
    {cursor: pointer; cursor: hand;}
}

.envoltura {
	border: 1px solid #ccc!important;
	border-radius: 16px!important;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	text-align: center;
}

.usuario {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #FFBB00;
    border-radius: 10px;
}

