.list-group {
	margin-top: 105px
}

.pregunta_texto {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    border-color: #363a8e;
    border-radius: 3px;
    cursor: inherit;

}
.pregunta {
	width: 100%;
	padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.usuario {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: transparent;
    border-radius: 10px;
}


.texto {
    font-family: "RobotoThin", sans-serif;
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 20px;
}

.icono {
	margin-right: 10px;
	margin-left: 10px;
    color: #2691C2;
}

.verConversacion {
	margin:10px;
}

.botonResponder {
	border-radius: 50px;
    font-size: 20px;
    line-height: 2em;
    text-transform: uppercase;
    padding: 10px 40px;
    min-width: 192px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: #fff;
    background-color: #2691C2;
    border-color: #2691C2;
    margin-top: 20px;
    margin-bottom:  20px;
}

.botonResponder:hover {
    background-color: white;
    color: #2691C2;
}

.respuesta {
	/*margin: 30px*/
}


.acciones {
	margin: 10px;
	float: center;
}

.mano {
    {cursor: pointer; cursor: hand;}
}

.fecha {
    color: #9F9F9F;
}

.nav_icon {
    color: white !important;
}