<div class="login-page">
	<app-mensaje></app-mensaje>
  <div class="form">
    
      <input type="text"  [(ngModel)]="account.name" placeholder="Username"/>
      <input type="password"  [(ngModel)]="account.password" placeholder="Password"/>
      <div class="g-recaptcha" [(ngModel)]="account.response_captcha" data-sitekey="6Lf2rBwUAAAAAAo3n58ifSSWOq1uYFrqne2JEm2m"></div>
      <button (click)="submit()">login</button>
      <p class="message">¿No estas registrado? <a routerLink="/registracion">Crea una cuenta</a></p>
    
  </div>
</div>